{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "max-nesting-depth": 5,
    "order/properties-alphabetical-order": null,
    "selector-max-compound-selectors": 5,
    "selector-max-id": 2,
    "scss/at-import-partial-extension-blacklist": null,
  }
}
